# ==============================================================================  
# Basic Dev Tools Config
# ==============================================================================  
# SLUG used for package.json, composer.json, docker namespacing,
# debug log location, dev tools, etc.
SLUG=wp-theme-boilerplate
PHP_NAMESPACE=WpPluginBoilerplate

# ==============================================================================  
# Build paths
# ==============================================================================  
# If you have a team these shouldn't be changed by inidvidual developers.
WP_SOURCE_PATH=src
WP_BUILD_PATH=build
WP_DIST_PATH=dist

# ==============================================================================  
# Webpack Config
# ==============================================================================  
# If you have a host setup change to your host eg. http://dev.local
BROWSER_SYNC_PROXY=http://localhost:8000
BROWSER_SYNC_PORT=3000
WEBPACK_DEV_SERVER_PORT=3002

# ==============================================================================  
# Docker Configuration
# ==============================================================================  
# Docker Wordpress/PHP image. 
# You can change these to your desired wordpress/php versions. 
# Check https://hub.docker.com/_/wordpress for supported wordpress versions
DOCKER_WP_VERSION=7.0

# Check https://hub.docker.com/_/php for php apache versions
DOCKER_PHP_VERSION=8.3

# Check https://hub.docker.com/_/mysql prefer the latest lts version
DOCKER_MYSQL_VERSION=8.4

# Docker Host Machine Ports
DOCKER_PORT_WP_DEVELOPMENT=8000
DOCKER_PORT_MYSQL_DEVELOPMENT=8001
DOCKER_PORT_PHPMYADMIN=8002
DOCKER_PORT_WP_TEST=8003
DOCKER_PORT_MYSQL_TEST=8004

# Docker Wordpress config
DOCKER_WP_DB_NAME=wordpress
DOCKER_WP_DB_USER=wp_user
DOCKER_WP_DB_PASSWORD=OSFU2O4cOBAv1XI
DOCKER_WP_TABLE_PREFIX=wp_
DOCKER_WP_AUTH_KEY=5f6ede1b94d25a2294e29eeba929a8c80a5ac0fb
DOCKER_WP_SECURE_KEY=5f6ede1b94d25a2294e29eeba929a8c80a5ac0fb
DOCKER_WP_LOGGED_IN_KEY=5f6ede1b94d25a2294e29eeba929a8c80a5ac0fb
DOCKER_WP_NONCE_KEY=5f6ede1b94d25a2294e29eeba929a8c80a5ac0fb
DOCKER_WP_AUTH_SALT=5f6ede1b94d25a2294e29eeba929a8c80a5ac0fb
DOCKER_WP_SECURE_AUTH_SALT=5f6ede1b94d25a2294e29eeba929a8c80a5ac0fb
DOCKER_WP_LOGGED_IN_SALT=5f6ede1b94d25a2294e29eeba929a8c80a5ac0fb
DOCKER_WP_NONCE_SALT=5f6ede1b94d25a2294e29eeba929a8c80a5ac0fb

# Docker Wordpress Tests Config
DOCKER_WP_TESTS_DB_NAME=wordpress_test
DOCKER_WP_TESTS_TABLE_PREFIX=wptests_
DOCKER_WP_TESTS_DOMAIN=example.org
DOCKER_WP_TESTS_EMAIL=admin@example.org
DOCKER_WP_TESTS_TITLE="Test Blog"

# Docker Mysql Config
DOCKER_MYSQL_ROOT_PASSWORD=ZDBMGUrJ90XV7NX

