/* Mobile Breakpoints */
$breakpoints: (
  'sm-max': 599px,
  'md-min': 600px,
  'md-max': 992px,
  'lg-min': 993px,
  'lg-max': 1199px,
  'xl-min': 1200px,
);

/* Colors */
$color-white: var(--wp--preset--color-white);
$color-black: var(--wp--preset--color-black);
$color-background-primary: var(--wp--preset--color--background-primary);
$color-background-secondary: var(--wp--preset--color--background-secondary);
$color-text-primary: var(--wp--preset--color--text-primary);
$color-text-secondary: var(--wp--preset--color--text-secondary);
$color-primary: var(--wp--preset--color--primary);
$color-primary-70: color-mix(in srgb, $color-primary 70%, $color-white);
$color-secondary: var(--wp--preset--color--secondary);
$color-secondary-70: color-mix(in srgb, $color-secondary 70%, $color-white);

/* Fonts */
$font-inter: var(--wp--preset--font-family--inter);

/* Font Sizes */
$font-size-sm: var(--wp--preset--font-size--sm);
$font-size-md: var(--wp--preset--font-size--md);
$font-size-lg: var(--wp--preset--font-size--lg);
$font-size-xl: var(--wp--preset--font-size--xl);
$font-size-2xl: var(--wp--preset--font-size--2-xl);

/* Font Weights */
$font-weight-black: var(--wp--custom--font-weight--black);
$font-weight-extraBold: var(--wp--custom--font-weight--extra-bold);
$font-weight-bold: var(--wp--custom--font-weight--bold);
$font-weight-semiBold: var(--wp--custom--font-weight--semi-bold);
$font-weight-medium: var(--wp--custom--font-weight--medium);
$font-weight-regular: var(--wp--custom--font-weight--regular);
$font-weight-light: var(--wp--custom--font-weight--light);
$font-weight-extraLight: var(--wp--custom--font-weight--extra-light);
$font-weight-thin: var(--wp--custom--font-weight--thin);

/* Line Heights */
$line-height-initial: var(--wp--custom--line-height--initial);
$line-height-xs: var(--wp--custom--line-height--xs);
$line-height-sm: var(--wp--custom--line-height--sm);
$line-height-md: var(--wp--custom--line-height--md);
$line-height-lg: var(--wp--custom--line-height--lg);
$line-height-xl: var(--wp--custom--line-height--xl);
$line-height-2xl: var(--wp--custom--line-height--2-xl);

/* Border Radius */
$border-radius-full: var(--wp--custom--border-radius--full);
$border-radius-xs: var(--wp--custom--border-radius--xs);
$border-radius-sm: var(--wp--custom--border-radius--sm);
$border-radius-md: var(--wp--custom--border-radius--md);
$border-radius-lg: var(--wp--custom--border-radius--lg);
$border-radius-xl: var(--wp--custom--border-radius--xl);
$border-radius-2xl: var(--wp--custom--border-radius--2-xl);

/* Spacing */
$spacing-xs: var(--wp--preset--spacing--xs);
$spacing-sm: var(--wp--preset--spacing--sm);
$spacing-md: var(--wp--preset--spacing--md);
$spacing-lg: var(--wp--preset--spacing--lg);
$spacing-xl: var(--wp--preset--spacing--xl);
$spacing-2xl: var(--wp--preset--spacing--2-xl);
$spacing-3xl: var(--wp--preset--spacing--3-xl);
