{
  "name": "{{authorShort}}/{{slug}}",
  "version": "0.1.0",
  "description": "Modern wordpress theme boilerplate.",
  "license": "GPL-2.0-or-later",
  "autoload": {
    "psr-4": {
      "{{phpNamespace}}\\": "inc/app/"
    }
  },
  "require": {
    "php": ">={{wordpressVersion}}"
  }
}
