<?php

declare(strict_types=1);

namespace {{phpNamespace}};

defined('ABSPATH') || exit;

require_once __DIR__ . '/vendor/autoload.php';

// Create a new instance of the theme and init
$theme = new Theme();
$theme->init();
