@use 'abstracts' as *;

.hidden {
  display: none !important;
}

.hidden-sm {
  @include media-max('sm-max') {
    display: none !important;
  }
}

.hidden-md {
  @include media-max('md-max') {
    display: none !important;
  }
}

.hidden-lg {
  @include media-max('lg-max') {
    display: none !important;
  }
}
