/* Colors */
$color-white: #ffffff;
$color-black: #000000;
$color-background-primary: var(--wp--preset--color--background-primary);
$color-background-secondary: var(--wp--preset--color--background-secondary);
$color-text-primary: var(--wp--preset--color--text-primary);
$color-text-secondary: var(--wp--preset--color--text-secondary);
$color-primary: var(--wp--preset--color--primary);
$color-primary-70: color-mix(in srgb, $color-primary 70%, $color-white);
$color-secondary: var(--wp--preset--color--secondary);
$color-secondary-70: color-mix(in srgb, $color-secondary 70%, $color-white);

/* Mobile Breakpoints */
$breakpoint-sm: 576px;
$breakpoint-md: 767px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Fonts */
$font-inter: var(--wp--preset--font-family--inter);

/* Font Weights */
$font-weight-black: var(--wp--custom--font-weight--black);
$font-weight-extraBold: var(--wp--custom--font-weight--extra-bold);
$font-weight-bold: var(--wp--custom--font-weight--bold);
$font-weight-semiBold: var(--wp--custom--font-weight--semi-bold);
$font-weight-medium: var(--wp--custom--font-weight--medium);
$font-weight-regular: var(--wp--custom--font-weight--regular);
$font-weight-light: var(--wp--custom--font-weight--light);
$font-weight-extraLight: var(--wp--custom--font-weight--extra-light);
$font-weight-thin: var(--wp--custom--font-weight--thin);

/* Line Heights */
$line-height-initial: var(--wp--custom--line-height--initial);
$line-height-xs: var(--wp--custom--line-height--xs);
$line-height-sm: var(--wp--custom--line-height--sm);
$line-height-md: var(--wp--custom--line-height--md);
$line-height-lg: var(--wp--custom--line-height--lg);
$line-height-xl: var(--wp--custom--line-height--xl);
$line-height-2xl: var(--wp--custom--line-height--2xl);

/* Border Radius */
$border-radius-full: var(--wp--custom--border-radius--full);
$border-radius-xs: var(--wp--custom--border-radius--x-small);
$border-radius-sm: var(--wp--custom--border-radius--sm);
$border-radius-md: var(--wp--custom--border-radius--md);
$border-radius-lg: var(--wp--custom--border-radius--lg);
$border-radius-xl: var(--wp--custom--border-radius--xl);
$border-radius-2xl: var(--wp--custom--border-radius--2xl);

/* Spacing */
$spacing-xs: var(--wp--preset--spacing--20);
$spacing-sm: var(--wp--preset--spacing--30);
$spacing-md: var(--wp--preset--spacing--40);
$spacing-lg: var(--wp--preset--spacing--50);
$spacing-xl: var(--wp--preset--spacing--60);
$spacing-2xl: var(--wp--preset--spacing--70);
$spacing-3xl: var(--wp--preset--spacing--80);
